.venv/
env/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


node_modules/
ui/node_modules/
ui/dist/
ui/.vite/


.env
*.env
.env.local
*.tfstate
*.tfstate.backup  


.idea/
.vscode/
.DS_Store


# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

docs.md
endpoints.md
