fastapi 
uvicorn[standard] 
pydantic 
pydantic-settings 
 
SQLAlchemy[asyncio] 
asyncpg 
alembic 
 
kubernetes_asyncio 
 
python-jose[cryptography] 
passlib[bcrypt] 
python-multipart 

httpx 
python-dotenv 

PyYAML 
aiofiles